<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>806706434094-rjsibvpl0g1i0lb5nqr7rveihhcjqfg1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.806706434094-rjsibvpl0g1i0lb5nqr7rveihhcjqfg1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>806706434094-t7gfbh7pqk2nihbgrj6smvvkuo0r3359.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyADrKoUbESzFyPbF0TwCqe-Kkjec3xHzgY</string>
	<key>GCM_SENDER_ID</key>
	<string>806706434094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.social.condominium</string>
	<key>PROJECT_ID</key>
	<string>social-condominium</string>
	<key>STORAGE_BUCKET</key>
	<string>social-condominium.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806706434094:ios:9091bf0e6de2c465</string>
	<key>DATABASE_URL</key>
	<string>https://social-condominium.firebaseio.com</string>
</dict>
</plist>